# see https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
# Google
BasedOnStyle: Chromium
IndentWidth: 4
---
Language: Cpp
Standard: Latest
ColumnLimit: 130
UseTab: Never
BinPackArguments: false            # this combined with AllowAllArgumentsOnNextLine
AllowAllArgumentsOnNextLine: false # puts all function arguments on their own line
AlignAfterOpenBracket: BlockIndent # follow normal indentation rules after open bracket
AlignConsecutiveAssignments : true # for vulkan struct init blocks it looks nicer
AllowShortFunctionsOnASingleLine: Empty # I just don't like single line functions on a single line
#AlignOperands: true
#AlignAssignments: true

#AlignAfterOpenBracket: Align
#AlignAfterOpenBracket: Block
#AlignAfterOpenBracket: AlwaysBreak

#BreakBeforeDesignatedInitializer: true

# AllowAllParametersOfDeclarationOnNextLine: true


# AccessModifierOffset: -4
# IndentWidth: 4

# AlignEscapedNewlines: Left
# AllowShortFunctionsOnASingleLine: Empty
# AllowShortLambdasOnASingleLine: Empty
# AlwaysBreakTemplateDeclarations: true
# BreakConstructorInitializers: BeforeComma
# IndentPPDirectives: AfterHash
# PointerAlignment: Left
