# see https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
# Google
BasedOnStyle: Chromium
IndentWidth: 4
---
Language: Cpp
Standard: Latest
ColumnLimit: 120
UseTab: Never

# AllowAllParametersOfDeclarationOnNextLine: true
# AllowAllArgumentsOnNextLine: true


# AccessModifierOffset: -4
# IndentWidth: 4

# AlignEscapedNewlines: Left
# AllowShortFunctionsOnASingleLine: Empty
# AllowShortLambdasOnASingleLine: Empty
# AlwaysBreakTemplateDeclarations: true
# BreakConstructorInitializers: BeforeComma
# IndentPPDirectives: AfterHash
# PointerAlignment: Left