**/*.png filter=lfs diff=lfs merge=lfs -text
**/*.jpg filter=lfs diff=lfs merge=lfs -text
**/*.mat filter=lfs diff=lfs merge=lfs -text
# Pixar compact scene descriptor
**/*.usdc filter=lfs diff=lfs merge=lfs -text 
# Wavefront OBJ file (3D model)
**/*.obj filter=lfs diff=lfs merge=lfs -text  

Source/ThirdParty/** filter=lfs diff=lfs merge=lfs -text


# exclude the following files from LFS
**/*.scene !filter !diff !merge
**/*.mtl !filter !diff !merge
**/*.pipeline !filter !diff !merge

